:local(.controlsContainer) {
	position: absolute;
	height: 570px;
	width: 250px;

	padding: 25px;
	margin: 0;
	top: 80px;

	box-sizing: border-box;
	border-right: 1px solid #aaa;
	background: rgba(110, 194, 179, 1);
	background-position: center;
}

:local(.rotateForm) {
	margin-top: 20px;
	overflow: hidden;
}

:local(.rotateBtn) {
	padding: 10px !important;
	float: left;
	height: 41px;
	width: 137px;
}

:local(.textfield) {
	font-family: "BonavaSans Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 2rem;
	color: #4d4d4d;
	margin-bottom: 0;
	color: rgb(1, 59, 45);
	text-transform: uppercase;
	margin-left: 5px;
	margin-top: 5px;
	padding: 12px 3px;
	outline: 0;
	background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    padding: 10px;
    box-shadow: inset -1px 1px 1px 0 rgba(0, 0, 0, 0.3), inset 1px -1px 1px 0 rgba(255, 255, 255, 0.3);
	border: none;
	width: 25px;
	margin-right: 10px;
	float: left;
	text-align: center;
}

:local(.lockFillWrapper) {
	position: absolute;
	width: 150px;
	height: 33px;
	right: 20px;
	top: 22px;
	z-index: 1;
}

:local(.inputfile) {
	position: absolute;
	width: 200px;
	height: 40px;
	overflow: hidden;
	color: transparent;
	opacity: 0;
}

:local(.inputfile + label) {
	display: inline-block;
	width: 200px;
	height: 40px;
	margin-bottom: 5px;

    font-size: 14px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
    color: white;

	background-color: #013B2D;
	cursor: pointer;
}
