:local(.controlsContainer) {
	float: left;
	display: inline-block;
	margin: 0;
	height: 570px;
	width: 250px;
	background: rgba(110, 194, 179, 1);
	border-right: 1px solid #aaa;
	box-sizing: border-box;
	padding: 25px;
	box-sizing: border-box;
	background-position: center;
	box-shadow: 13px 0px 16px -5px rgba(0,0,0,0.56);
}

:local(.lockFillWrapper) {
	width: 150px;
	height: 33px;
	position: absolute;
	right: 20px;
	top: 22px;
	z-index: 1;
}

:local(.inputfile) {
	width: 200px;
	height: 40px;
	overflow: hidden;
	position: absolute;
	color: transparent;
	position: absolute;
	opacity: 0;
}

:local(.inputfile + label) {
	width: 200px;
	height: 40px;
    font-size: 14px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
    color: white;
    background-color: #013B2D;
    display: inline-block;
	cursor: pointer;
	margin-bottom: 5px;
}
