.line {
  fill: none;
  stroke: #7dc7f4;
  stroke-width: 2px;
}

.no-fill {
  fill: none !important;
  stroke: #7dc7f4;
  stroke-width: 2px;
  cursor: default;
}

.handle {
  fill: #fff;
  opacity: 1;
  pointer-events: all;
}

.handle.selected {
  fill: #013B2D;
}

.handle.invisible {
  opacity: 0;
  pointer-events: none;
}

.clickarea {
  fill: #6EC2B3;
  stroke: #fff;
  stroke-width: 2px;
  cursor: default;
}

.clickarea.selected {
  cursor: move;
}

.d3-tooltip {
	background: #fff;
	border-radius: 3px;
	border: 1px solid #888;
	padding: 10px;
	font-size: 16px;
}
