:local(.modalContent) {
	position: absolute;
	width: 550px;
	height: 300px;
	left: 0;
	right: 0;
	bottom: 0;
	top: 30%;

	margin-left: auto;
    margin-right: auto;
	padding: 1rem;
	border: 1px solid #cacaca;
	border-radius: 0;

	text-align: center;
	background-color: #E2F3F0;

    overflow-y: auto;
    z-index: 800;

	-webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
    animation: bounce 500ms linear;
}

:local(.modalContent > div) {
	position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

:local(.modalBtn) {
	display: inline-block;
	margin: 1.4rem 1.8rem;
	padding: 1.6rem 3.6rem;
	border: none;
	border-radius: .3rem;

	font-family: "BonavaSans Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.4rem;
	line-height: 1.4rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	white-space: nowrap;

	outline: 0;
	background-color: #6EC2B3;
	box-shadow: 0 0 0 0 #6EC2B3;
	cursor: pointer;
	transition: all .3s;
}

@-webkit-keyframes bounce {
0% {
	transform: scale3d(0.1,0.1,1);
		box-shadow: 0 3px 20px rgba(0,0,0,0.9);
	}
	55% {
		transform: scale3d(1.08,1.08,1);
		box-shadow: 0 10px 20px rgba(0,0,0,0);
	}
	75% {
		transform: scale3d(0.95,0.95,1);
		box-shadow: 0 0 20px rgba(0,0,0,0.9);
	}
	100% {
		transform: scale3d(1,1,1);
		box-shadow: 0 3px 20px rgba(0,0,0,0.9);
	}
}
