:local(.layerItem) {
	position: relative;
	height: 15px;
	padding: 10px 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);

	list-style: none;
	font-size: 12px;
	text-transform: uppercase;
	text-align: left;
	color: #fff;

	cursor: pointer;
}

:local(.layerItem:hover) {
	background: 1px solid rgba(255, 255, 255, 0.3);
}

:local([data-custom-attribute="filled"]) {
  background: rgba(255, 255, 255, 0.2);
}

:local(.layerItem:first-child) {
	border-radius: 5px 5px 0 0;
	border-top: none;
}

:local(.removeIcon) {
	position: absolute;
	width: 15px;
	height: 15px;
	right: 15px;
	top: 9px;

	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PGcgaWQ9ImNsb3NlIj48cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjUxMiw1MS4yIDQ2MC44LDAgMjU2LDIwNC44IDUxLjIsMCAwLDUxLjIgMjA0LjgsMjU2IDAsNDYwLjggNTEuMiw1MTIgMjU2LDMwNy4yIDQ2MC44LDUxMiA1MTIsNDYwLjggMzA3LjIsMjU2ICIvPjwvZz48L2c+PC9zdmc+);
	background-size: 11px;
	background-position: center;
	background-repeat: no-repeat;
	
	z-index: 99999;
	cursor: pointer;
}
