.line {
  fill: none;
}

.no-fill {
  fill: none !important;
  stroke: #7dc7f4;
  cursor: default;
}

.handle {
  fill: rgb(6, 141, 242);
  opacity: 1;
  pointer-events: all;
}

.handle.selected {
  fill: rgb(6, 141, 242);
}

.handle.invisible {
  opacity: 0;
  pointer-events: none;
}

.clickarea {
  stroke-width: 1.5px;
}
