:local(.header) {
	position: absolute;
	left: 0;
	width: 1274px;
	height: 80px;
	background-color: #013B2D;
	z-index: 9999999;
}

:local(.header img) {
	height: 80px;
	margin-left: 55px;
	float: left;
}

:local(.tooldescWrapper) {
	position: relative;
	float: left;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	width: 160px;
	padding-top: 14px;
	text-align: center;
}

:local(.selectedToolName) {
	position: relative;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 2px;
	border-bottom: 1px solid #fff;
}

:local(.selectedTool:after) {
	margin-left: 15px;
	margin-right: 15px;
	text-decoration: underline;
}


:local(.colorSlider) {
	width: 300px;
	height: auto;
	margin-top: 15px;
	height: auto;
	float: left;
	cursor: pointer;

}

:local(.removeIcon) {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PGcgaWQ9ImMxNDJfeCI+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTI1NS45NTQsMEMxMTQuNTkzLDAsMCwxMTQuNjMsMCwyNTYuMDA5QzAsMzk3LjM3LDExNC41OTMsNTEyLDI1NS45NTQsNTEyQzM5Ny4zODgsNTEyLDUxMiwzOTcuMzUyLDUxMiwyNTYuMDA5QzUxMiwxMTQuNjMsMzk3LjM4OCwwLDI1NS45NTQsMHoiLz48L2c+PGcgaWQ9IkNhcGFfMV8xMDRfIj48L2c+PC9nPjxwYXRoIGZpbGw9IiNGNzA4MDgiIGQ9Ik0tMjMuNDg1LDQ4Ni41ODFMNDgzLjU3My0yNS40NzljMCwwLDM4LjI1LDMyLjg4OSw0Ny45NTIsNDMuNzEzTDIxLjc0Niw1MzYuNTAyQzIxLjc0Niw1MzYuNTAyLTIyLjc3LDQ4NS44NjctMjMuNDg1LDQ4Ni41ODF6Ii8+PC9zdmc+);
	width: 30px;
	height: 30px;
	background-size: 42px;
	background-repeat: no-repeat;
	float: right;
	background-color: #fff;
	background-position: -6px;
	cursor: pointer;
	margin-right: 35px;
	margin-top: 22px;
}
