:local(.revealOverlay) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 99999999;
}

:local(.modalWrapper) {
	text-align: center;
    padding: 1rem;
	background-color: #E2F3F0;
    border: 1px solid #cacaca;
    border-radius: 0;
    position: relative;
    top: 100px;
	width: 550px;
	height: 300px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    z-index: 800;
}

.modal {
	position: absolute;
	margin: auto;
	top: 80px;
	left: 200px;
	bottom: 0;
	right: 0;
	width: 400px;
	height: 200px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	z-index: 1;
}

.modal-anim-enter {
    opacity: 0.00;
    transform: scale(0.7);
    transition: all 0.2s;
}

.modal-anim-enter.modal-anim-enter-active {
    opacity: 1;
    transform: scale(1);
}

.modal-anim-leave {
    opacity: 1;
    transform: scale(1);
    transition: all 0.2s;
}

.modal-anim-leave.modal-anim-leave-active {
    opacity: 0.00;
    transform: scale(0.7);
}
