:local(.modalWrapper) {
	position: absolute;
	width: 350px;
	height: 100px;
	background: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	padding: 15px;
	text-align: center;
	box-shadow: 0 0 15px #999;
}

.modal {
	position: absolute;
	margin: auto;
	top: 80px;
	left: 200px;
	bottom: 0;
	right: 0;
	width: 400px;
	height: 200px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	z-index: 1;
}

.modal-anim-enter {
    opacity: 0.00;
    transform: scale(0.7);
    transition: all 0.2s;
}

.modal-anim-enter.modal-anim-enter-active {
    opacity: 1;
    transform: scale(1);
}

.modal-anim-leave {
    opacity: 1;
    transform: scale(1);
    transition: all 0.2s;
}

.modal-anim-leave.modal-anim-leave-active {
    opacity: 0.00;
    transform: scale(0.7);
}
