
:local(.dropzone) {
	position: absolute;
    left: 0;
    top: 0;
    width: 1024px;
    height: 570px;
	z-index: 99999;
	display: none;
}

:local(.canvasWrapper) {
	position: absolute;
	right: 0;
	top: 80px;
}
