:local('.layerHeading') {
	display: block;
	margin-bottom: 5px;
	margin-left: 5px;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: underline;
	color: #013B2D;
}

:local('.layerWrapper') {
	height: 300px;
}
