:local('.layerHeading') {
	display: block;
	margin-bottom: 5px;
	margin-left: 5px;

	text-transform: uppercase;
	font-size: 12px;
	text-decoration: underline;
	color: #013B2D;
}

:local('.layerWrapper') {
	height: 300px;
}

:local(.figureWrapper) {
	display: none;
}

:local(.figureHeading) {
	margin: 0;
    padding: 10px 0 7px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
	color: #fff;
}
